# Completed application files
*.apk
*.ap_

# Compiled/dexed Java files
*.dex
*.class

# Other build files
/build

# Gradle stuff
.gradle

# IDE files
/local.properties
/.idea/workspace.xml
/.idea/libraries

# OS specific files
.DS_Store
Thumbs.db
.Trashes
